@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --padding: 5px;
  --font-size: 1.5rem;
  --border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container.light {
  --bg-main: #ffffff;
  --primary: #7c3aed;

  --text-main: #0f172a;
  --text-muted: #475569;
}

.Container.dark {
  --bg-main: #0f172a;
  --primary: #8b5cf6;

  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
}

.Container {
  background: var(--bg-main);
  color: var(--text-main);
  transition: all 0.3s ease;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px auto;
  grid-template-areas: "aside main";
}


.theme-btn {
  /* border: 2px solid red; */
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  border-radius: 8px;
  /* border: none; */
  cursor: pointer;
  background: var(--primary);
  color: var(--text-main);
  z-index: 200;
}


aside {
  grid-area: aside;
  width: 300px;
  height: 100vh;
  background: var(--bg-main);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

main {
  grid-area: main;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-main);
}


.logo {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--border);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}


.menu {
  width: 180px;
  padding: 10px;
  margin: 20px auto;
}

.menu ul li {
  position: relative;
  width: max-content;
  margin-bottom: 15px;
  list-style: none;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  transition: 0.3s;
}

.menu ul li a {
  color: var(--text-main);
  text-decoration: none;
  z-index: 1;
}


.menu ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, var(--primary));
  left: 0;
  top: 0;
  transition: 0.5s;
}

.menu ul li:hover::before {
  width: 100%;
}

.menu ul li:hover {
  box-shadow: 0 0 10px var(--primary);
}


.fa {
  color: var(--text-main);
  padding: 5px;
}

.about-icons {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 10px;
  list-style: none;
}

.about-icons li a {
  text-decoration: none;
  border: 2px solid var(--border);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
  transition: 0.3s;
  font-size: 20px;
}

.about-icons li a:hover {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  box-shadow: 0 0 15px var(--primary);
  transform: translateY(-5px);
}


.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: 20px;
  color: var(--text-main);
  background: var(--primary);
  padding: 5px 8px;
  border-radius: 5px;
  z-index: 200;
  cursor: pointer;
}



.close-btn {
  display: none;
  width: 50px;
  text-align: right;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .Container {
    /* border: 5px solid red; */
    height: auto;
    width: auto;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -500px;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: 0.5s linear;
    z-index: 100;
  }

  aside.active {
    left: 0;
  }

  main {
    min-height: 100vh;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }

  .logo {
    /* border: 2px solid; */
    width: 100px;
    height: 100px;
    margin-top: 50px;
  }

  .menu {
    /* border: 2px solid; */
    width: 150px;
    padding: 5px;
    margin-top: 0;
  }

  .menu ul li {
    /* border: 2px solid; */
    margin-bottom: 10px;
    padding: 5px 8px;

  }

  .theme-btn {
    /* border: 2px solid red; */
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    font-size: 14px;
    width: 50px;
  }


}